<div class="row">
    <mat-card color="accent" style="width:300px;margin: 15px">
        <mat-card-header>
          <img mat-card-avatar src="https://cdn0.iconfinder.com/data/icons/terrorism-bombs-and-other-weapon/512/terrorism-terror-aim-target-kill-512.png">
          <mat-card-title>Most Kills</mat-card-title>
          <!-- <mat-card-subtitle>Really, they are!</mat-card-subtitle> -->
        </mat-card-header>
        <mat-card-content style="text-align:center">
          <p class="stat">756</p>
          <p class="stat">Scump</p>
        </mat-card-content>
      </mat-card>

      <mat-card style="width:300px;margin: 15px">
          <mat-card-header>
            <img mat-card-avatar src="https://cdn0.iconfinder.com/data/icons/terrorism-bombs-and-other-weapon/512/terrorism-terror-aim-target-kill-512.png">
            <mat-card-title>Most Deaths</mat-card-title>
            <!-- <mat-card-subtitle>Really, they are!</mat-card-subtitle> -->
          </mat-card-header>
          <mat-card-content style="text-align:center">
            <p class="stat">1200</p>
            <p class="stat">MJCheen</p>
          </mat-card-content>
        </mat-card>

        <mat-card style="width:300px;margin: 15px">
            <mat-card-header>
              <img mat-card-avatar src="https://cdn3.iconfinder.com/data/icons/web-and-internet-icons/512/Stats-512.png">
              <mat-card-title>Best Map Win %</mat-card-title>
              <!-- <mat-card-subtitle>Really, they are!</mat-card-subtitle> -->
            </mat-card-header>
            <mat-card-content style="text-align:center">
              <p class="stat">67.5</p>
              <p class="stat">Crimsix</p>
            </mat-card-content>
          </mat-card>

          <mat-card style="width:300px;margin: 15px">
              <mat-card-header>
                <img mat-card-avatar src="https://cdn3.iconfinder.com/data/icons/web-and-internet-icons/512/Stats-512.png">
                <mat-card-title>Most Damage</mat-card-title>
                <!-- <mat-card-subtitle>Really, they are!</mat-card-subtitle> -->
              </mat-card-header>
              <mat-card-content style="text-align:center">
                <p class="stat">101000</p>
                <p class="stat">FormaL</p>
              </mat-card-content>
            </mat-card>
          
</div>

